@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<body style="background-image: linear-gradient(to bottom right, #192347, #e65177);">

</body>

<div style="text-align: center; padding-top: 280px;">
    <h1 style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: center; font-weight: 400; text-transform: uppercase;">@ViewData["Title"]</h1>
    <a class="nav-link" asp-controller="Home" asp-action="Home" style="text-decoration: none; color: white; letter-spacing: 2px; font-weight: lighter; text-transform: uppercase;">Click here to go back to home.</a>
</div>