@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ballin Out Events</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @* We need an icon for the HTML document with the Ballin Out Logo but only with B O as the abbreviation for Ballin Out*@
    @*<link rel="shortcut icon" type="image/x-icon" href="~/images/Ballin Out Icon.png" />*@
</head>
<body>
    <header>
        <nav style="background-image: linear-gradient(to bottom right, #192347, #e65177); padding: 15px 0;" class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white box-shadow mb-3">
            <div class="container">
                <a style=" padding: 0 20px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="width: auto; height: 35px;" alt="error" src="~/images/Balln Out Logo White.png" />
                </a>
                <button style="margin-right: 10px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="text-transform: uppercase; font-weight: lighter;" class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul style="font-size: 13px; letter-spacing: 8px;" class="navbar-nav flex-grow-1">
                        <li class="padding-top-breakpoint border-breakpoint nav-item" style="border-right: 1px solid white;">
                            <a style="padding-left: 20px; padding-right: 20px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="border-breakpoint nav-item" style="border-right: 1px solid white;">
                            <a style="padding-right: 20px; padding-left: 20px;" class="nav-link text-light" asp-area="" asp-controller="Events" asp-action="Index">Events</a>
                        </li>
                        <li class="border-breakpoint nav-item" style="border-right: 1px solid white;">
                            <a style="padding-right: 20px; padding-left: 20px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="border-breakpoint nav-item">
                            <a style="padding-right: 20px; padding-left: 20px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <partial name="_LoginPartial" />
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <style>
        .hover-over-social-media:hover {
            color: #e65177;
            transition: all 0.5s cubic-bezier(0.37, 0.6, 0.55, 1.03);
        }
    </style>

    <footer style="background-image: linear-gradient(to left, #192347, #e65177);" class="footer text-muted">
        <div style="position: relative; font-size: 13px; color: white; text-transform: uppercase; font-weight: lighter; letter-spacing: 8px; text-align: left;" class="container">
            &copy; Ballin Out
            <div style="font-size: 25px; position: absolute; right: 0; top: 0;">
                <a href="https://www.facebook.com/Ballinoutevents" style="text-decoration: none; color: white; text-align: right;">
                    <i class="fab fa-facebook-square hover-over-social-media"></i>
                </a>
                <a href="https://www.instagram.com/ballinoutevents/" style="text-decoration: none; color: white; text-align:right;">
                    <i class="fab fa-instagram-square hover-over-social-media"></i>
                </a>
                <a asp-controller="Temporary" asp-action="ComingSoon" style="text-decoration: none; color: white; text-align: right;">
                    <i class="fab fa-twitter-square hover-over-social-media"></i>
                </a>
                <a asp-controller="Temporary" asp-action="ComingSoon" style="text-decoration: none; color: white; text-align: right;">
                    <i class="fab fa-snapchat-square hover-over-social-media"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/0c4707a38a.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
