@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @*<li style="font-size: 13px; letter-spacing: 8px; text-transform: uppercase; font-weight: lighter;" class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>*@
    <li style="font-size: 13px; letter-spacing: 8px; text-transform: uppercase; font-weight: lighter;" class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button style="font-size: 13px; letter-spacing: 8px; text-transform: uppercase;"  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
</ul>
