@{
    ViewData["Title"] = "Coming Soon";
}

<body style="background-image: linear-gradient(to bottom right, #192347, #e65177);">

</body>

<div style="padding-top: 280px;">
    <h1 style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: center; font-weight: 400; text-transform: uppercase;">Coming Soon</h1>
    <p style="padding: 10px; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">We're still working on this page.</p>
</div>