@{
    ViewData["Title"] = "About Us";
}

<body style="background-image: linear-gradient(to bottom right, #192347, #e65177);">

</body>

<h1 style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: center; font-weight: 400; text-transform: uppercase;">@ViewData["Title"]</h1>

<p style="padding: 10px; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">We're Helsingborgs Smallest Event Planners, But When We Do Plan, <strong style="font-size: 18px;">It Gets Big.</strong></p>

<hr />

<div class="text-align-center-breakpoint" style="padding: 0 20px; padding-bottom: 20px!important;">
    <h2 style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: left; font-weight: 400; text-transform: uppercase;">Our Office</h2>
    <p style="color: white; font-size: 20px; text-align: left; font-weight: lighter; text-transform: none; padding: 5px 20px;">Prisma is a unqiue building in Helsingborgs new city district Oceanhamnen. Wihlborgs vision for Prisma is to become a reputable tech centre, where HETCH adds value for the companies and people in the building. Prisma is drawn by Erik Giudice Architects, which has offices in Paris, Malmö and Stockholm. The architecture was inspired by the light, the views toward Denmark and the constantly moving ferries. This results in a building with graceful, maritime lines, an airy atmosphere and a playful facade.</p>
    <img style="height: 250px; border-radius: 50%; filter: contrast(0.6);" alt="error" src="~/images/Gåsebäcksvägen2.png" />
</div>

<hr />

<div class="text-align-center-breakpoint" style="padding: 0 20px; padding-bottom: 20px!important;">
    <h2 style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: right; font-weight: 400; text-transform: uppercase;">Who We Are</h2>
    <p style="color: white; font-size: 20px; text-align: right; font-weight: lighter; text-transform: none; padding: 5px 20px;">Prisma is a unqiue building in Helsingborgs new city district Oceanhamnen. Wihlborgs vision for Prisma is to become a reputable tech centre, where HETCH adds value for the companies and people in the building. Prisma is drawn by Erik Giudice Architects, which has offices in Paris, Malmö and Stockholm. The architecture was inspired by the light, the views toward Denmark and the constantly moving ferries. This results in a building with graceful, maritime lines, an airy atmosphere and a playful facade.</p>
</div>

<hr />