@{
    ViewData["Title"] = "About Us";
}

<body style="background-image: linear-gradient(to bottom right, #192347, #e65177);">

</body>

<h1 style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: center; font-weight: 400; text-transform: uppercase;">@ViewData["Title"]</h1>

<p style="padding: 10px; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">We're Helsingborgs Smallest Event Planners, But When We Do Plan, <strong style="font-size: 18px;">It Gets Big.</strong></p>

<hr />

<div class="text-align-center-breakpoint" style="padding: 0 20px; padding-bottom: 20px!important;">
    <h2 class="text-align-center-breakpoint" style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: left; font-weight: 400; text-transform: uppercase;">Our Office</h2>
    <p style="color: white; font-size: 20px; text-align: left; font-weight: lighter; text-transform: none; padding: 5px 20px;">Prisma is a unqiue building in Helsingborgs new city district Oceanhamnen. Wihlborgs vision for Prisma is to become a reputable tech centre, where HETCH adds value for the companies and people in the building. Prisma is drawn by Erik Giudice Architects, which has offices in Paris, Malmö and Stockholm. The architecture was inspired by the light, the views toward Denmark and the constantly moving ferries. This results in a building with graceful, maritime lines, an airy atmosphere and a playful facade.</p>
    <img style="width: 250px; height: 250px; border-radius: 50%; filter: contrast(0.6);" alt="error" src="~/images/Gåsebäcksvägen2.png" />
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2229.080155090222!2d12.704938815941526!3d56.03460098062974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465233b1f0256a4b%3A0x68ff12587abb4b5c!2zR8Olc2Viw6Rja3N2w6RnZW4gMiwgMjUyIDI3IEhlbHNpbmdib3Jn!5e0!3m2!1sen!2sse!4v1622754138616!5m2!1sen!2sse" height="250" width="250" style="border: none; border-radius: 50%; filter: contrast(0.6);" allowfullscreen="" loading="lazy"></iframe>*@

</div>

<hr />

<div class="text-align-center-breakpoint" style="padding: 0 20px; padding-bottom: 20px!important;">
    <h2 class="text-align-center-breakpoint" style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: right; font-weight: 400; text-transform: uppercase;">Who We Are</h2>
    <p class="text-align-left-breakpoint" style="color: white; font-size: 20px; text-align: right; font-weight: lighter; text-transform: none; padding: 5px 20px;">Prisma is a unqiue building in Helsingborgs new city district Oceanhamnen. Wihlborgs vision for Prisma is to become a reputable tech centre, where HETCH adds value for the companies and people in the building. Prisma is drawn by Erik Giudice Architects, which has offices in Paris, Malmö and Stockholm. The architecture was inspired by the light, the views toward Denmark and the constantly moving ferries. This results in a building with graceful, maritime lines, an airy atmosphere and a playful facade.</p>
</div>

<div style="text-align: center; padding: 0 20px; padding-bottom: 20px!important;">
    <h2 class="text-align-center-breakpoint" style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: left; font-weight: 400; text-transform: uppercase;">CEO of The Company</h2>
    <p style="color: white; font-size: 20px; text-align: left; font-weight: lighter; text-transform: none; padding: 5px 20px;">Prisma is a unqiue building in Helsingborgs new city district Oceanhamnen. Wihlborgs vision for Prisma is to become a reputable tech centre, where HETCH adds value for the companies and people in the building. Prisma is drawn by Erik Giudice Architects, which has offices in Paris, Malmö and Stockholm. The architecture was inspired by the light, the views toward Denmark and the constantly moving ferries. This results in a building with graceful, maritime lines, an airy atmosphere and a playful facade.</p>
    <img style="height: 250px; border-radius: 50%; filter: contrast(0.6);" alt="error" src="~/images/EmilOhmanCEO.jpg" />
</div>

<hr />

<div style="text-align: center; padding: 0 20px; padding-bottom: 20px!important;">
    <h1 style="padding: 20px; padding-bottom: 0!important; color: white; letter-spacing: 15px; text-align: center; font-weight: 400; text-transform: uppercase;">Contact Us</h1>
    <p style="padding: 10px; padding-bottom: 0!important; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">Gåsebäcksvägen 2, 252 27, Helsingborg - Sweden</p>
    <p style="padding: 10px; padding-top: 0!important; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">Emil.Ohman@Gmail.se</p>
    <div style="font-size: 40px;">
        <a href="#" style="text-decoration: none; color: white; text-align: center;">
            <i class="fab fa-facebook-square hover-over-social-media"></i>
        </a>
        <a href="#" style="text-decoration: none; color: white; text-align: center;">
            <i class="fab fa-instagram-square hover-over-social-media"></i>
        </a>
        <a href="#" style="text-decoration: none; color: white; text-align: center;">
            <i class="fab fa-twitter-square hover-over-social-media"></i>
        </a>
        <a href="#" style="text-decoration: none; color: white; text-align: center;">
            <i class="fab fa-snapchat-square hover-over-social-media"></i>
        </a>
    </div>

    <div class="display-block-breakpoint" style="display: flex; align-items: center; padding: 20px; justify-content: center;">
        <img style="padding: 20px; height: 200px; border-radius: 50%; filter: contrast(0.6);" alt="error" src="~/images/Co-workersPlaceholder.jpg" />
        <div style="padding-right: 20px;">
            <h3 style="margin-bottom: 3px; font-size: 18px; padding-bottom: 0 !important; color: white; letter-spacing: 11px; text-align: center; font-weight: 500; text-transform: uppercase;">Contact Us</h3>
            <p style="margin-bottom: 0px; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">Chief Executive Officer</p>
            <a class="nav-link" href="mailto:Emil.Ohman@Gmail.se" style="color: #90DBCC; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase; text-decoration: none;">Emil.Ohman@Gmail.se</a>
        </div>

        <img style="padding: 20px; height: 200px; border-radius: 50%; filter: contrast(0.6);" alt="error" src="~/images/Co-workersPlaceholder.jpg" />
        <div>
            <h3 style="margin-bottom: 3px; font-size: 18px; padding-bottom: 0 !important; color: white; letter-spacing: 11px; text-align: center; font-weight: 500; text-transform: uppercase;">Contact Us</h3>
            <p style="margin-bottom: 0px; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">Vice President</p>
            <a class="nav-link" href="mailto:Emil.Ohman@Gmail.se" style="color: #90DBCC; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase; text-decoration: none;">Emil.Ohman@Gmail.se</a>
        </div>
    </div>

    <div class="display-block-breakpoint" style="display: flex; align-items: center; padding: 20px; justify-content: center;">
        <img style="padding: 20px; height: 200px; border-radius: 50%; filter: contrast(0.6);" alt="error" src="~/images/Co-workersPlaceholder.jpg" />
        <div style="padding-right: 20px;">
            <h3 style="margin-bottom: 3px; font-size: 18px; padding-bottom: 0 !important; color: white; letter-spacing: 11px; text-align: center; font-weight: 500; text-transform: uppercase;">Contact Us</h3>
            <p style="margin-bottom: 0px; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">Chief Executive Officer</p>
            <a class="nav-link" href="mailto:Emil.Ohman@Gmail.se" style="color: #90DBCC; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase; text-decoration: none;">Emil.Ohman@Gmail.se</a>
        </div>

        <img style="padding: 20px; height: 200px; border-radius: 50%; filter: contrast(0.6);" alt="error" src="~/images/Co-workersPlaceholder.jpg" />
        <div>
            <h3 style="margin-bottom: 3px; font-size: 18px; padding-bottom: 0 !important; color: white; letter-spacing: 11px; text-align: center; font-weight: 500; text-transform: uppercase;">Contact Us</h3>
            <p style="margin-bottom: 0px; color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">Vice President</p>
            <a class="nav-link" href="mailto:Emil.Ohman@Gmail.se" style="color: #90DBCC; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase; text-decoration: none;">Emil.Ohman@Gmail.se</a>
        </div>
    </div>

</div>

<hr />

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2229.080155090222!2d12.704938815941526!3d56.03460098062974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465233b1f0256a4b%3A0x68ff12587abb4b5c!2zR8Olc2Viw6Rja3N2w6RnZW4gMiwgMjUyIDI3IEhlbHNpbmdib3Jn!5e0!3m2!1sen!2sse!4v1622754138616!5m2!1sen!2sse" height="450" style="width: 100%; border:0; filter: contrast(0.6);" allowfullscreen="" loading="lazy"></iframe>
