@model DELTA___Ballin_Out_Web_Application.Models.Events

@{
    ViewData["Title"] = "Create New Event";
}


<body style="background-image: linear-gradient(to bottom right, #192347, #e65177);"></body>

    <h1 style="padding: 20px; color: white; letter-spacing: 15px; text-align: center; font-weight: lighter; text-transform: uppercase;">Create New Event</h1>

    <hr />
    <div style="margin: 0 auto; color: white; letter-spacing: 2px; text-align: left; font-weight: lighter; text-transform: uppercase;">
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="EventName" class="control-label">Event Name</label>
                    <input placeholder="Event Name" style="margin-bottom: 20px;" asp-for="EventName" class="form-control" />
                    <span asp-validation-for="EventName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="EventImage" class="control-label">Event Image</label>
                    <input placeholder="Event Image URL" style="margin-bottom: 20px;" asp-for="EventImage" class="form-control" />
                    <span asp-validation-for="EventImage" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="EventLocation" class="control-label">Event Location</label>
                    <input placeholder="Event Location" style="margin-bottom: 20px;" asp-for="EventLocation" class="form-control" />
                    <span asp-validation-for="EventLocation" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="EventDescription" class="control-label">Event Description</label>
                    <textarea placeholder="Event Description (Max 500 Characters)" style="height: 150px; resize: none; margin-bottom: 20px;" asp-for="EventDescription" class="form-control"></textarea>
                    <span asp-validation-for="EventDescription" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="EventDate" class="control-label">Event Date</label>
                    <input style="width: 350px; margin-bottom: 20px;" asp-for="EventDate" class="form-control" />
                    <span asp-validation-for="EventDate" class="text-danger"></span>
                </div>
                <div>
                    <input style="border: none; color: white; letter-spacing: 15px; font-weight: lighter; text-transform: uppercase; text-decoration: none; background-color: #dc4f75; width: 250px;" type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div style="text-align: right;">
        <a style="padding: 20px; color: white; letter-spacing: 15px; font-weight: lighter; text-transform: uppercase; text-decoration: none; display: inline-block;" class="nav-link" asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
