@model IEnumerable<DELTA___Ballin_Out_Web_Application.Models.Events>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Events";
}

<body style="background-image: linear-gradient(to bottom right, #192347, #e65177);">

</body>
<h1 style="padding: 20px; color: white; letter-spacing: 15px; text-align: center; font-weight: lighter; text-transform: uppercase;">Events</h1>


@if (SignInManager.IsSignedIn(User))
{
    <div style="padding: 10px;">
        <p style="position: relative;">
            <a class="book-tickets-nav-link" style="color: white; letter-spacing: 15px; text-align: center; font-weight: lighter; text-transform: uppercase; position: absolute; right: 0; text-decoration: none; font-size: 12px;" asp-action="Create">Add New Event</a>
        </p>
    </div>
}





<div style="text-align: center;">
    @foreach (var item in Model)
    {
        <div style="position: relative; padding: 20px; border: 2px solid white; margin: 20px auto;">
            <h1 class="book-tickets-nav-link">
                <a style="color: white; letter-spacing: 15px; text-align: center; font-weight: lighter; text-transform: uppercase; text-decoration: none;" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.EventName)</a>
            </h1>
            <p style="color: white; letter-spacing: 15px; font-weight: lighter; text-transform: uppercase">@Html.DisplayFor(modelItem => item.EventLocation)</p>
            <p style="color: white; letter-spacing: 15px; font-weight: lighter; text-transform: uppercase">@Html.DisplayFor(modelItem => item.EventDate)</p>
        </div>
    }
</div>